/*********************** 
	Filename: style.css
	Author: José Claudio da Silva Junior
	Date: 28/01/2023

	1. Header
************************/

header#hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    margin: 32px;
}

#hero-content {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.image-hover {
    transition: filter 0.3s ease;
}

.image-hover:hover {
    filter: brightness(80%);
   
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.button-container {
    text-align: right; 
    width: 100%; 
}

.read-btn:hover {
    background-color: #45a049; 
    color: #fff; 
}

#value-proposition img {
    width: 30%; 
    height: auto; 
    margin: 60px 20px 20px 20px;
    z-index: 99;
    border-radius: 12px 12px 0 0;
    background: linear-gradient(180deg,rgba(0,0,0,0) 30%,#000 100%);
}

#value-proposition {
    display: flex;
    align-items: center;
}

#hero-title,
#hero-subtitle,
#hero-text {
    margin-left: auto;
    margin-right: auto;
}

.header a {
    color: black; 
    text-decoration: none; 
}

.header a:hover {
    color: green;
}
.header img {
    height: 64px; 
    width: auto; 
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ccc;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ccc;
    z-index: 1000;
}

.header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
}
.col.x7 {
    padding: 0 !important;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.header ul li {
    display: inline;
    margin-right: 10px;
}

div.header.container {
    float:left; 
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu li{
    display: inline-block;
    margin-left: 20px;
}

.login-btn {
    width: 80px;
    height: 40px;
    top: 30px;
    right: 36px;
    margin-right: 36px ;
    flex-shrink: 0;
    border-radius: 6px;
    background: rgba(80, 199, 106, 0.56);
    cursor: pointer;
}

.login-btn:hover {
    background-color: #45a049;
}

.button-container {
    float: right;
}

.read-btn, .read-2-btn {
    margin-left: 10px;
}

.read-btn {
    width: 149px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 6px;
    background: rgba(80, 199, 106, 0.56);
    cursor: pointer;
}

.read-2-btn {
    color: #000;
    background-color: transparent;
    border: none;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;  
    cursor: pointer;
}

.read-2-btn:hover {
    text-decoration: underline;
}

/*********************** 
	2. Body
************************/

body {
    font-family: 'Inter', 'Poppins';
    padding: 0;
    margin: 0;
    position: relative;
}

html, body {
    min-height: 100%;
}

.bold-text {
    font-weight: bold;
}

.arrow-down {
    display: block;
    margin: 0 auto;
    margin-top: 5px;
}

::selection {
    background: rgba(80, 199, 106, 0.56);
    color: #fff
}

.center-align {
    text-align: center;
}

.container {
    margin: 0 auto;
}


.card {
    flex: 1;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    width: 420px;
    float: left;
    height: 280px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-image img {
    max-width: 40%; 
    height: auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px; 
    transition: box-shadow 0.3s ease;  
}

.card:hover .card-image img {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.confira-btn:hover {
    background-color: #45a049; 
    color: #fff; 
}

div.card-image {

    height: auto;
    display: flex;
    justify-content: center;
}

.card-content, .card-action {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}

.card-action a {
    text-decoration: none; 
    color: black; 
}

.card-action a:hover {
    color: green; 
}

.confira-btn {
    background-color: rgba(80, 199, 106, 0.56);
    color: #000;
    border-radius: 3px;
    height: 20px;
    display: flex;
    margin: 0 auto;
    cursor: pointer;
}

.card-action{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}   

/*********************** 
	3. Footer
************************/

.main_footer .content { float:left; width:90%; margin:0 5%; padding: 5em 0; }

.container { float:left; width:100%; display: flex; flex-wrap: wrap; justify-content: space-around;}

.colfooter { 
	width:100%; 
	height:auto; 
	float:left; 
	margin-bottom:2em;
}

div.footer-copyright{
    text-align: center;
    margin: 20px;

}

div.row{
    margin: 20px;
    display: flex;
}

#container-footer {
    background-color: rgba(80, 199, 106, 0.56);
    padding: 20px;
}


.col-custom {
    width: 80%; 
}

/*********************** 
	4. Carrossel
************************/

section.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}

.slider-content{
    width: 400%;
    height: auto;
    display: flex;
}

.slider-content input, .img-mobile{
    display: none;
}

.slide-box {
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
} 

.slide-box img{
    width: 100%;
}

.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 62%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid #45a049;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}

.nav-manual .manual-btn:hover{
    background-color: #45a049;
}

#radio1:checked ~ .nav-auto .auto-btn1{
    background-color: #45a049;
}

#radio2:checked ~ .nav-auto .auto-btn2{
    background-color: #45a049;
}

#radio3:checked ~ .nav-auto .auto-btn3{
    background-color: #45a049;
}

#radio1:checked ~ .first{
    margin-left: 0%;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

@media screen and(max-width: 900px) {
    .img-desktop{
        display: none;
    }

    .img-mobile{
        display: block;
    }
    
    .nav-auto, .nav-manual{
        margin-top: 60%;
    }
}