/* Estilos globais *****/
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Container principal */
.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.logo img {
    max-width: 100%;
    height: auto;
}

/* Navegação */
nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li.active {
    background-color: #50C76A; /* Cor de fundo para o item ativo */
}

nav a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

/* Botão de login */
.login-button button {
    background-color: #50C76A;
    color: #333;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-button button:hover {
    background-color: #45a049;
}

/* Conteúdo */
.content {
    margin-top: 80px;
    padding: 20px;
}
/* Página Início

/* Página Sobre */

/* Página de Calculadora */
.calculator-container {
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0,1);
    margin: auto;
    max-width: 600px;
}

.calculator-container label {
    display: block;
    margin-top: 10px;
}

.calculator-container input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.calculator-container button {
    background-color: #50C76A;
    color: #333;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

.calculator-container button:hover {
    background-color: #45a049;
}

.calculator-container .hidden {
    display: none;
}

.calculator-container #result-table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

.calculator-container #result-table th, .calculator-container #result-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.calculator-container #result-table th {
    background-color: #4caf50;
    color: white;
}
/* Página de Depoimentos */

/* Página de Registros */

/* Página de Contatos */
.contact-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1800px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.form-container {
    flex: 1;
    padding: 30px;
}

.form-container h2 {
    color: #333;
}

.contact-container form {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}

.contact-container label {
    margin-top: 10px;
}

.contact-container input,
.contact-container textarea {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.contact-container button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.contact-container button:hover {
    background-color: #45a049;
}

.contact-container .info-container {
    flex: 1;
    padding: 20px;
    background-color: #95ec98;
    color: #000000;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-container .info-container p {
    margin-bottom: 20px;
}

.contact-container .info-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
}

/* Rodapé */
.footer-container {
    background-color: #95ec98;
    color: #000;
    text-align: center;
    padding: 10px;
}

.footer-container .social-links {
    margin-bottom: 10px;
}

.footer-container .social-links a {
    margin-right: 10px;
}

.footer-container .social-links img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.footer-container .social-links img:hover {
    transform: scale(1.2);
}

/* Media query para tornar o layout mais responsivo */
@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    nav ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .login-button {
        margin-top: 10px;
    }

    .calculator-container {
        margin: 20px;
    }

    .contact-container {
        flex-direction: column;
    }

    .form-container,
    .contact-container .info-container {
        margin: 20px;
    }
}