*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-family: 'Afacad', sans-serif;
}
    /*Margin você usa para usar conteúdos externos (fora da sessão) 
    Padding é interno(dentro da sessão)*/
.container {
    margin: 0 auto;
    max-width: 1496px;
    width: 100%;
    padding: 0 48px;
}

.s-one{
    margin-bottom: 50px;
    padding: 50px 24px;
}

div {
    border: 1px solid red;
}

.caixa{
    border: 1px solid blue;
}

#ultima-caixa{
    border: 2px solid green;
}

.caixa a {
    color: red;
}

div > a{
    color: blue
}

#ultima-caixa a{
    color: purple
}

.container{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px 48px;
}

div > div{
    padding: 16px;
    display: flex;
    justify-content: center;
    a
}
